  <script src="https://use.typekit.net/xif5hiw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/js/template.js"></script>
  <a style="text-align: center; display:block; padding-bottom: 50px;" href="https://serene-sea-39365.herokuapp.com/">Bekijk deze site op Heroku!</a>
  </body>
</html>
